<table>
    <tbody>
        <tr>
            <th colspan="2" align="left"><a href="#/">Dashboard</a></th>
            <th colspan="2" align="right"><input type="button" value="Add Debt" ng-click="addDebtClicked();" /></th>
        </tr>
        <tr>
            <th colspan="4"><h3>Debts</h3></th>
        </tr>
        <tr>
            <th>Must pay</th>
            <th>Must receive</th>
            <th>Amount</th>
            <th>Reason</th>
            <th>Date</th>
        </tr>
        <tr ng-repeat="p in debts">
            <td class="id" style="display: none;">{{p.Id}}</td>
            <td class="payer">{{p.Payer.Name}}</td>
            <td class="receiver">{{p.Receiver.Name}}</td>
            <td class="amount">{{p.Amount}}</td>
            <td class="reason">{{p.Reason}}</td>
            <td class="date">{{p.FormatedDate}}</td>
        </tr>
    </tbody>
</table>